.item-block {
  width: 100%;
  z-index: 1;
}

.expander-block {
  width: 100%;
  height: 1.5em;
  margin-top: 3px;
  margin-bottom: 10px;
}

.icon {
  width: 25px;
  height: 100%;
  float: left;
}

.title-block {
  width: 20em;
  height: 100%;
  margin-left: 5px;
  background-color: #73FF69;
  padding-bottom: 0.1em;
  padding-top: 0.1em;
  float: left;
}
