html, body {
   height: 100%;
   width: 100%;
   margin: 0px;
   background: #787878;
   font-family: Arial, sans-serif;
   font-size: 16px;
   color: white;
}

header#titleBar {
	background: #A9D0F5;
	height: 85px;
}

span#title {
	font-weight: bold;
	margin: 20px;
	color: #FE2E2E;
	font-size: 32px;
}

input#search-box {
	margin: 20px;
	border-radius: 10px;
	border: 0px;
	padding: 5px;
	background: #FE2E2E;
	font-size: 15px;
	color: white;
}

div#helpContainer {
	width: 100%;
}

button#helpButton {
	margin-top: 10px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: 20px;
	color: #FE2E2E;
	font-weight: bold;
	border-radius: 42px;
}

div#helpDlg {
	color: white;
}

div#dropButtonContainer {
	width: 170px;
	margin: auto;
	padding: 15px;
}

div#sprite {
	margin-right: 40px;
}

div#species-name {
	font-size: 27px;
	letter-spacing: 3px;
}

div#typing {
	font-size: 31px;
	font-family: "Arial Black";
}

div#abilities {
	font-size: 20px;
	text-decoration: underline;
	color: blue;
	font-family: "Lucida Grande";
}

div#slider {
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 50px;
	width: 200px;
}

img {
	width: 200px;
	height: 200px;
}

div#effectiveness-container {
	width: 100%;
}

div#weak, #resists, #superEffective, #ineffective {
	width: 25%;
	height: 350px;
	text-align: center;
	font-size: 20px;
}

ul#types {
	padding-left: 0px;
	list-style-type: none;
	text-align: center;
	letter-spacing: 2px;
	font-family: "Arial Black";
	font-size: 22px;
}
.effectiveness-header {
	text-decoration: underline;
}

.ui-dialog, .ui-dialog-titlebar {
	color: white;
	padding: 0px;
	border: 0px;
	background: #54585B;
	overflow: visible;
}

.ui-widget-overlay
{
   background: #000;
}

.fixedFlexItem {
   flex: none;
   -webkit-flex: none;
   -ms-flex: none;
}

.fullFlexItem {
   flex: 1 1 auto;
   -webkit-flex: 1 1 auto;
   -ms-flex: 1 1 auto;
}

.flexContainer {
   display: flex;
   display: -webkit-flex;
   display: -ms-flexbox;
   align-items: center;
   overflow: auto;
}

.vertical {
   flex-direction: column;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
}

.dialogTemplate {
   display: none;
   border: 1px solid;
   background: EEF;
}