.root {
  border: solid 2px;
  border-color: blue;
  width: 100%;
}

.item-block {
  width: 100%;
  z-index: 1;
}

.exp {
  width: 100%;
  height: 1.5em;
  margin-top: 3px;
  margin-bottom: 10px;
}

.icon {
  width: 25px;
  height: 100%;
  float: left;
}

.title-green {
  width: 20em;
  height: 100%;
  margin-left: 5px;
  padding-bottom: 0.1em;
  padding-top: 0.1em;
  background-color: #00FF00;
  float: left;
}

.title-red {
  width: 20em;
  height: 100%;
  margin-left: 5px;
  padding-bottom: 0.1em;
  padding-top: 0.1em;
  background-color: #FF0000;
  float: left;
}
