html {
   background: #E8E8FF;
   font-family: Arial, sans-serif;
   font-size: 16px;
}

#container {
   display: flex;
   display: -webkit-flex;
   display: -ms-flexbox;
}

#left, #right {
   width: 200px;
   background: #E8FFE8;
   
   flex: none;
   -webkit-flex: none;
   -ms-flex: none;


}

#center {
   flex: 1 1 auto;
   -webkit-flex: 1 1 auto;
   -ms-flex: 1 1 auto;
   
   order: 1;
   -webkit-order: 1;
   -ms-flex-order: 1;
}

#footer, #header {
  height: 40px;
  clear: both;
  background: #FFE8E8;
}