html {
   height: 98%;
   background: #E8E8FF;
   font-family: Arial, sans-serif;
   font-size: 16px;

}

body {

   height: 98%;
}

h1 {
   font-family: Arial, sans-serif;
   font-size: 16px;

}

#overall {
   height: 100%;

   display: flex;
   display: -webkit-flex;
   display: -ms-flexbox;

   flex-direction: column;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
}

#container {
   overflow-y: auto;

   display: flex;
   display: -webkit-flex;
   display: -ms-flexbox;
}

#left, #right {
   width: 200px;
   background: #E8FFE8;

   flex: none;
   -webkit-flex: none;
   -ms-flex: none;
}

#center {
   flex: 1 1 auto;
   -webkit-flex: 1 1 auto;
   -ms-flex: 1 1 auto;
}

#footer, #header {
  height: 40px;
  background: #FFE8E8;
  flex: none;
  -webkit-flex: none;
  -ms-flex: none;
}
