html, body{
  height: 99%;
}

#header, #footer, #stack1, #container, #stack2, #stack3, #outer{
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
}

#header, #footer {
  background: #E8E8FF;
}

#label, #row-label{
  white-space: nowrap;
  width: 150px;
  font-size: 30px;
}

#row-num {
  font-size: 25px;
  width: 150px;
  float: left;
  height: 140px;
}

#container {
  align-items: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-direction: flex-end;
}

#container, #outer, #footer {
  overflow: scroll;
}

#buttons {
  z-index: 10;
}

#outer {
  height: 80%;
}

#stack1, #stack2, #stack3 {
  height: 100%;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
}

#radio-buttons, #lorem, #row-label, #footer, #header, 
#row-num, #container, #stack2, #image-block {
  flex: none;
  -webkit-flex: none;
  -ms-flex: none;
}

#flex-center, #flex-row, #outer {
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
}

#lorem {
  width: 300px;
}
