html, body {
   height: 98%;
   width: 98%;
   background: #E8E8FF;
   font-family: Arial, sans-serif;
   font-size: 16px;
   color: #444;
}

div#titleBar {
   font-family: italic bold "Comic Sans MS", sans-serif;
   font-size: 3em;
   text-align: center;
   height: 1.5em;
   color: #A0A0FF;
}

div#toolBar, .ui-menu {
   background: #C8C8FF;
}

div#mainArea {
   overflow-y: auto;
   width: 100%;
}

div#statusBar {
   font-weight: bold;
   font-size: 1.5em;
   height: 1.5em;
   border: 1px solid;
   margin-bottom: 10px;
}

div#playArea {
   background-color: #EEF;
   border: 1px solid #BBD;
   padding: 1em;
}

input#nextMove {
   width: 5em;
}

span#timer {
   float: right;
}

.fixedFlexItem {
   flex: none;
   -webkit-flex: none;
   -ms-flex: none;
}

.fullFlexItem {
   flex: 1 1 auto;
   -webkit-flex: 1 1 auto;
   -ms-flex: 1 1 auto;
}

.flexContainer {
   display: flex;
   display: -webkit-flex;
   display: -ms-flexbox;
   overflow: auto;
}

.vertical {
   flex-direction: column;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
}

.space-between {
   justify-content: space-between;
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify; 
}

.subPanel {
   padding: 1em;
   overflow: auto;
}

.panelHeader {
   font-size: 2em;
   padding-bottom: .4em;
}

.historyEntry {
   height: 1.5em;
   width: 25em;
   margin: 0px;
   border: 1px solid #AAD;
   clear: both;
   background: #DDF;
}

.exact {
   color: #2D2;
   margin-left: 1em;
}

.inexact {
   color: #22D;
   margin-left: 1em;
}

.dialogTemplate {
   display: none;
   border: 1px solid;
   background: EEF;
}

.dialogLabel {
	float: left;
	width: 10em;
}

.historyExpansion {
   width: auto;
   padding-left: 1em;
   color: #666;
}
